@font-face {
	font-family: 'Oswald';
	src: url('/fonts/Oswald-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: url('/fonts/Oswald-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Oswald';
	src: url('/fonts/Oswald-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
	 box-sizing: border-box;
 }
 
 /**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
 :where(ul, ol):where([class]) {
	 padding-left: 0;
 }
 
 /**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
 body,
 :where(blockquote, figure):where([class]) {
	 margin: 0;
 }
 
 /**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
 :where(
	 h1,
	 h2,
	 h3,
	 h4,
	 h5,
	 h6,
	 p,
	 ul,
	 ol,
	 dl
 ):where([class]) {
	 margin-block: 0;
 }
 
 :where(dd[class]) {
	 margin-left: 0;
 }
 
 :where(fieldset[class]) {
	 margin-left: 0;
	 padding: 0;
	 border: none;
 }
 
 /**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
 :where(ul[class]) {
	 list-style: none;
 }
 
 /**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
 p {
	 --paragraphMarginBottom: 24px;
 
	 margin-block: 0;
 }
 
 /**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
 p:where(:not([class]):not(:last-child)) {
	 margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
	 Упрощаем работу с изображениями
	*/
 img {
	 display: block;
	 max-width: 100%;
 }
 
 /**
	 Наследуем свойства шрифт для полей ввода
	*/
 input,
 textarea,
 select,
 button {
	 font: inherit;
 }
 
 html {
	 /**
		 Пригодится в большинстве ситуаций
		 (когда, например, нужно будет "прижать" футер к низу сайта)
		*/
	 height: 100%;
	 /**
		 Плавный скролл
		*/
	 scroll-behavior: smooth;
 }
 
 body {
	 /**
		 Пригодится в большинстве ситуаций
		 (когда, например, нужно будет "прижать" футер к низу сайта)
		*/
	 min-height: 100%;
	 /**
		 Унифицированный интерлиньяж
		*/
	 line-height: 1.5;
 }
 
 /**
	 Приводим к единому цвету svg-элементы
	*/
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
 svg * {
	 transition-property: fill, stroke;
 }
 
 /**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
 @media (prefers-reduced-motion: reduce) {
	 * {
		 animation-duration: 0.01ms !important;
		 animation-iteration-count: 1 !important;
		 transition-duration: 0.01ms !important;
		 scroll-behavior: auto !important;
	 }
 }


 :root {
		--color-light: #FFFFFF;
		--color-alice-blue: #E6F1FA;
		--color-red: #EB5757;
		--color-blue: #57A4EB;
		--color-dark: #000000;

		--font-family-base: 'Oswald', sans-serif;
		--font-family-accent: 'Roboto', sans-serif;
		
		
		--input-height:56px;
	}
	
	body {
		font-family: var(--font-family-base);
		background-color: var(--color-light);
	}
	
	a {
		color: var(--color-light)
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
		text-transform: uppercase;
	}
	
.header{
	width: 1920px;
	height: 115px;
	background-color: #000000;
	display: inline-flex;
	/* justify-content: space-between; */
	/* align-items: center; */
}
.header-logo{
	padding: 35px;
	margin-left: -15px;
	/* background-color: darkgoldenrod; */
}
.header-menu{
	display: inline-flex;
	justify-content: center;
	/* background-color: aquamarine; */
}

.header-menu-list{
	display: flex;
	justify-content:center;
	align-items: center;
	column-gap: 25px;
	width: 1100px;
	height: 115px;
	margin-left: 243px;
	text-transform: uppercase;
	/* background-color: blueviolet; */
}

.redline{
	display: inline;
	padding: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color-red);
}
.icon-search::before{
	content: url(/icons/magnifier.svg);
	position: relative;
	top: 2px;
	padding-right: 10px;

}

/* .header-menu-list{
	display:flex;
	justify-content:left;
	align-items: center;
	padding: 10px;
	
	background-color: darkorange;
 }  */
  
/* .header-menu-item{ */
	/* background-color: darkgreen; */
	
/* } */
.header-menu-link{
	/* background-color: red; */
	text-decoration: none;
}
.header-actions-list{
	display: inline-flex;
	justify-content: center;
	padding-left: 30px;
	column-gap: 8px;
	align-items: center;
	/* width: 418px; */
	/* background-color:darkmagenta; */
}
.signin{
	padding-left: 28px;
}
.createacc{
	/* padding-left: 10px; */
}
.header-action-favor{
	padding-left: 25px;
}
.header-actions-link{
		text-decoration: none;
	text-transform: uppercase;
}
.header-action-favor{
	position: relative;
	right: 10px;
}
.header-action-shopcart{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}
.shop{
	font-size: 12px;
	font-family: var(--font-family-accent);
	position: relative;
	top: 5px;
	/* background-color: blue; */
}
.eur{
	font-family: var(--font-family-accent);
	text-transform: uppercase;

	font-size: 14px;
	/* background-color: chartreuse; */
}
.header-actions-flexshop{
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	text-decoration: none;
	/* background-color: coral; */
}